# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store

# TypeScript
*.tsbuildinfo
dist/

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyz[23]
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Editors and IDEs
.vscode/
.idea/
*.swp
*.swo
*~
